@using SweetShop.Domain.ViewModels.Account


@model LoginViewModel

@{
	ViewBag.Title = "title";
	Layout = "_Layout";
} 
<div class="card-registration">
    <a form method="post" asp-controller="Account" asp-action="Register"><div><h2>Вход/<span>Регистрация</span></h2></div></a>
    <form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name"></label><br />
        <input class="input-register" asp-for="Name" />
        <p><span class="input-validatoin-text" asp-validation-for="Name"></span></p>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input class="input-register" asp-for="Password" />
        <p><span class="input-validatoin-text" asp-validation-for="Password"></span></p>
    </div>
    <div>
        <input class="button-register" type="submit" value="Войти" />
        <img id="img-icon"src="https://www.clipartmax.com/png/full/12-122241_candy-clipart-candies-icon.png" alt="Здесь должна быть картинка"/>
    </div>
</form>
</div>




