.backgroundImage {
    background-image: url("https://top-fon.com/uploads/posts/2021-07/1627059589_10-p-fon-rozovii-nezhnii-s-razvodami-11.jpg");
    background-size: cover;
    background-attachment: fixed;
}
