@using SweetShop.Domain
@model Product
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@*{
    var textTitle = Model?.Id == 0 ? "Изменение данных" : "Добавление данных";
}*@

<div class="product-create">
    <h2>eeee</h2>
</div>